
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Make GIF {% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
        <script defer src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>

    </head>
    <body hx-boost="true">
         <header>
             <h1>{% block header  %}Make GIF Animations {% endblock %}</h1>
        </header>
        <main>
            <nav>
    <ul>
        <li><a href="{% url 'mkgif:index' %}">Home</a></li>
        <li>
            <span>{{ user }}</span>
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            </span>
        </li>
    </ul>
</nav>
    {% block content %}
            <p>My GIF Animations:</p>
    {% endblock %}
        </main>

        <script >
                document.body.addEventListener('htmx:configRequest', (event) => {
                    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
                })
        </script>
    </body>
</html>

