
{% extends "mkgif/base.html" %}

{% load static %}

{% block title %} Anim {{anim.name}} {% endblock %}

{% block content %}
    <div> Gif sequence {{ anim.name }} {{anim.pk}}</div>
    </br>
    <ul class="img-list">
        {% for img in images %}
            <li><img src="{{img.image.url}}" width="200"  ></img>
            </li>
        {% endfor %}
        <div>
            <img src="{% get_media_prefix %}{{ anim.pk }}/out.gif" alt="gif">

           <!--   <a href="{% get_media_prefix  %}{{ anim.pk }}/out.gif" download ><button> Download GIF </button></a> -->
            </img>
        </div>
{% endblock %}≈

