{% extends "mkgif/base.html" %}

{% block title %} MkGIF Dev. {% endblock %}

{% block content %}


<h1> My Gif Animations </h1>
<table>

    {% for anim in anims %}
        <tr>
            <td>{{anim.pk}}</td>
            <td style="width:10rem"><a href="{% url 'mkgif:details' anim.pk %}">{{anim.name}}</a></td>

            <td>
                <button
                    data-hx-delete="{% url 'mkgif:details' anim.pk %}"
                    data-hx-trigger="click"
                    data-hx-target="closest tr"
                    data-hx-swap="delete"
                    >
                    Delete
                </button>
            </td>
            <td>
                <button
                    data-hx-get="{% url 'mkgif:edit_name' anim.pk %}"
                    data-hx-trigger="click"
                    data-hx-target="closest tr"
                    >
                    Edit Name
                </button>
            </td>
        </tr>
    {% endfor %}
</table>

<form action="{% url 'mkgif:index' %}" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend><label>Add New GIF Animation</label></fieldset>
        <input name="name" type="text" placeholder="Animation Name">
        <input name="imgs" type="file" multiple>
        <button>Submit</button>
    </fieldset>
</form>

{% endblock %}
