<td>
    {{pk}}
</td>
<td>
<form id="edit_name_form" style="display:flex;gap:1rem;" data-hx-target="body"
    data-hx-post="{% url 'mkgif:details' pk %}"
    >
    <input name="name" type="text">
</form>
</td>
<td>
    <button type="submit" form="edit_name_form"> Done </button>
</td>
